#result_dogs {
    background: #FFFFFF;
    height: 100%;
    padding: 120px 0;
}

.hound_content_list {
    margin-left: 20px;
}


.hound_content_list .houndWord {
    padding-top: 57px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    text-transform: capitalize;
    color: #000000;
}

.dog_cards {
   flex-wrap: wrap;
}

.dog_cards img {
    margin: 10px 2px;
    width: 384px;
    height: 450px;
}





@media screen and (max-width: 768px) {
    .dog_cards {
        margin-left: 6px;
    }
    .dog_cards img {
        width: 97%; 
    }
}


@media screen and (max-width: 500px) {
    #result_dogs {
        height: 20%;
    }

    .hound_content_list .houndWord {
        margin-top: -170px;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        
    }
    .dog_cards {
        margin-left: 15px;
    }

    .dog_cards img {
        /* margin: 10px 0px; */
        width: 100%; 
        margin-left: -15px;
    }
}

@media screen and (max-width: 239px) {
    .hound_content_list .houndWord {
        width: 240px;
        font-size: 28px;
    }
}

