#dog_breeds-icons {
    background: #fff;
}
.dog_breeds-icons {
    margin-left: 370px;
    margin-top: 200px;
    
}


.dog_breeds-icons img {
    width: 366px;
    height: 60px;
}


.dog_breeds-icons h2 {
    width: 538px;
    height: 116px;
    margin-left: -58px;
        
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
}

@media screen and (max-width: 768px) {
    .dog_breeds-icons  {
        position: relative;
        left: -170px;
        top: 60px;
    }

    @media screen and (max-width: 500px) {
        .dog_breeds-icons  {
            position: relative;
            left: -370px;
            top: -70px;
            /* overflow-x: hidden; */
        }

        .dog_breeds-icons img{
            width: 230px;
            position: relative;
            left: 65px;
        }

        .dog_breeds-icons h2  {
            width: 500px;
            position: relative;
            left: 100px;
            top: -30px;
            font-size: 50px;
        }













    }
}





















































