#dogShowcase {
    background: #FFFFFF;
    height: 100%;
    padding: 20px 0;
}

.dogImageContent {
    padding-top: 187px;
    margin-left: 351px;
}


.dogImageContent p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: #000000;
    margin-left: -80px;
}


@media screen and (max-width: 808px) {
    .dogImageContent {
        width: 100%;
        margin-left: -0px;
    }
    .dogImageContent img {
        width: 250px;
        margin-left: 250px;
    }
    .dogImageContent p {
        font-size: 70px;
        padding-left: 250px;
        width: 800px;
    }
}

@media screen and (max-width: 567px) {
    .dogImageContent img {
        margin-left: 120px;
    }

    .dogImageContent p {
        padding-left: 140px;
        width: 800px;
    }
}

@media screen and (max-width: 500px) {
    .dogImageContent {
        margin-top: -80px;
    }
    .dogImageContent img {
        margin-left: 60px;
        width: 229px;
    }

    .dogImageContent p {
        padding-left: 100px;
        width: 800px;
        font-weight: 600;
        font-size: 54px;
        line-height: 65px;
    }

}


