#dogSelect {
    background: #FFFFFF;
    height: 100%;
    padding: 20px 0;
}

.selecteForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.select_list select {
    width: 173px;
    height: 48px; 
    margin-left: 18px;
    margin-top: 191px;
    background: #FFFFFF;
    border: 1px solid #000000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    outline: none;
}


/* btn random*/
.btn_random button {
    margin-top: 191px;
    margin-left: 70px;
    position: relative;
    right: 9px;
    width: 264px;
    height: 46px; 
    background: #000000;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}


@media screen and (max-width: 768px) {
    .selecteForm {
       margin: 0 10px;
       display: block;
    }

    .select_list select {
        margin-left: 6px;
        width: 97%;
        margin-top: 30px;
        display: block;
        height: 60px;
    }

    .btn_random button {
        margin-left: 15px;
        width: 97%;
        height: 60px;
        margin-top: 19px;
    }
}

@media screen and (max-width: 500px) {
    .selecteForm {
        margin: 0 10px;
    }
    .select_list select {
        height: 48px;
        margin-top: 20px;
    }

    .btn_random button {
        margin-top: 20px;
        height: 46px;
    }
    
}