#dogShowcase {
    background: #FFFFFF;
    height: 100%;
    padding: 20px 0;
}

.dogImageContent {
    padding-top: 187px;
    margin-left: 351px;
}


.dogImageContent p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: #000000;
    margin-left: -80px;

}


@media screen and (max-width: 768px) {
    .dogImageContent {
        padding-top: 187px;
        margin-left: 200px;
    }

    .dogImageContent img {
        margin-left: -27px;
    }
}

@media screen and (max-width: 591px) {
    .dogImageContent {
        padding-top: 187px;
        margin-left: 170px;
    }

    .dogImageContent img {
        width: 300px;
        margin-left: -40px;
    }

    .dogImageContent p {
        font-size: 70px;
        padding-left: 20px;
        margin-top: -30px;
    }
}


@media screen and (max-width: 500px) {
    #dogShowcase {
        height: 220px;
    }

    .dogImageContent {
        padding-top: 100px;
        margin-left: 80px;
    }

    .dogImageContent img {
        width: 200px;
        height: 40px;
        margin-left: -10px;
    }

    .dogImageContent p {
        font-weight: 600;
        font-size: 54px;
        line-height: 65px;
        padding-top: 20px;
        width: 303px;
        margin-left: -60px;
    }
}
