#footer {
    background:#FDFEFF;
    width: 100%;
    border: 1px solid #E3E7EE;
    padding: 20px 0;
}


.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_logo > img {
    margin-top: 83px;
}

.footer_logo > h1 {
    margin-top: -36px;
    padding-left: 45px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.footer_logo > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 330px;
    line-height: 20px;
    padding-top: 32px;
    color: #5F718C;
}


/* footer-header */
.footer-header {
    padding-top: 90px;
}

.footer-header > h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.footer-header .primary {
    padding-top: 30px;
}

.footer-header .primary li {
    padding: 7px 0;
}

.footer-header .primary a {
   list-style: none;
   font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;      
    color: #5F718C;
    text-decoration: none;
}

.footer-header .primary > p {
    width: 272px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #5F718C;
}


/* form */
.emailForm {
    margin-top: 26px;
    position: relative;
}

.emailForm > input {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #E3E7EE;
    box-sizing: border-box;
    border-radius: 30px;
    display: inline-block;
    cursor: pointer;
    padding-left: 15px;
    outline: none;
}

.emailForm > input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #97A8C2;
}
.emailForm > button {
    position: absolute;
    right: 6px;
    top: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    background: none;
}


/* down_footer */
.down_footer {
    border-top: 1px solid #E3E7EE;
    margin-top: 50px;
}


.down_footer_content_list_flex {
    display: flex;
    justify-content: space-between;
}

.copyRight_and_privacys {
   display: flex;
   justify-content: space-between;
}

.privacy_and_service {
    display: inline-flex;
    margin-left: 47px;
   
}

.privacy_and_service > li {
    padding-top: 65.51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #343434;
    list-style: none;
    margin: 0 30px;
    height: 86px;
    border-bottom: 1px solid #343434;
}

/* copyright */
.copyright {
    padding-top: 64.51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}


/* language_and_follow */
.language_and_follow {
    display: flex;
    justify-content: space-between;
}

.language {
    position: relative;
    top: 0;
    left: 0;
}

.language > p {
    padding-top: 29.51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.language select {
    width: 304px;
    height: 40px;
    background: #FFFFFF;
    border: 1.2px solid #70788C;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 10.51px;
}


/* follow_us */
.follow_us {
   margin-top: 23.51px;
}

.follow_us > p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.links {
    margin-top: 20px;
}

.links img {
    margin: 0 10px;
}




@media screen and (max-width: 979px) {
    .privacy_and_service {
        margin-left: 20px;
    }
    .copyright,
    .privacy_and_service > li,
    .copyright,
    .language > p ,
    .follow_us > p  {
        font-size: 12px;
    }

    .privacy_and_service > li {
        margin: 0 16px;
    }

    .language select  {
        width: 250px;
    }
    
}

@media screen and (max-width: 814px) {
    .language select  {
        width: 200px;
    }

    .links img {
        margin: 0 5px;
    }
}




@media screen and (max-width: 768px) {
    .footer_content {
        display: block;
        margin: 0px 20px;
    }

    .footer-header {
        padding-top: 20px;
    }
    .footer-header .primary {
        padding-top: 2px;
    }

    .footer-header .primary li {
        padding: 3px 0;
    }

    /* down footer */
    .down_footer {
        margin-top: 70px;
        height: 270px;
    }
    .down_footer_content_list_flex {
        margin: 0 20px;
    }
    .down_footer_content_list_flex,
    .language_and_follow{
        display: block;
    }
    .copyRight_and_privacys {
        display: block;
        background: red;
        position: relative;
        top: 0;
        left: 0; 
        height: 0;
    }

    .copyright,
    .privacy_and_service {
        position: absolute;
        top: 170px;
    }

    .privacy_and_service {
        position: relative;
        bottom: 88px;
        left: 90px;
    }

    .follow_us {
       margin-top: -50px;
    }

    .language  {
        margin-top: 90px;
        height: 0;
    }
    .language > p {
        padding-top: 40px;
    }

    .language select  {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .footer_logo > p {
        width: 317px;
        font-size: 13px;
    }

    .footer_logo > h1 {
        font-size: 18px;
    }

    .footer-header .primary a,
    .footer-header .primary > p   {
        font-size: 13px;
    }

    .footer-header .primary > p {
        width: 299px;
    }

    .emailForm > input  {
        width: 95%;
    }

    .emailForm > button {
        position: absolute;
        right: 23px;
        top: 4px;
    }

    /* down footer */
    .down_footer {
        margin-top: 70px;
        height: 250px;
    }
    
}