#select-dropdown {
    margin-top: 190px;
}

.dog_breeds_dropdown {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.dog_breeds_dropdown > select {
    width: 173px;
    height: 48px;
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.dog_breeds_dropdown > select:focus {
    outline-color: #a3f1f7;
}

.dog_breeds_dropdown > select > option {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}


/* btn */
.btn_randomize_breed_image > button {
    width: 264px;
    height: 46px;
    background: #000000;
    color: #FFFFFF;
    margin-left: 350px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.btn_randomize_breed_image button:hover {
    box-shadow: 0 0 5px inset #ccc;
}

@media screen and (max-width: 768px) {
    #select-dropdown {
        margin-top: 230px;
    }

    .dog_breeds_dropdown {
       margin: 0 20px;
    }


    .dog_breeds_dropdown > select {
        height: 70px;
    }


    .btn_randomize_breed_image button {
        height: 70px;
        position: relative;
        left: -170px;
    }



    @media screen and (max-width: 500px) {
        #select-dropdown {
            margin-top: -30px;
        }

        .dog_breeds_dropdown {
            display: block;
        }

        .dog_breeds_dropdown > select,
        .btn_randomize_breed_image button  {
           width: 318px;
           height: 48px;
            margin: 16px 0;
        }


        .btn_randomize_breed_image button  {
            position: relative;
            left: 0px;
        }
    }
}






























































