@import url('./navabar.css');
@import url('./dogShowcase.css');
@import url('./dogSelect.css');
@import url('./card_result.css');
@import url('./footer.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: 'Inter';
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: #E5E5E5;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}